
	useDynLib(EBcoexpress, f0worker, bwmcCworker)
        export(bwmc)
        export(crit.fun)
        export(makeMyD)
        export(initializeHP)
        export(priorDiagnostic)
        export(showPair)
        export(showNetwork)
        export(ebCoexpressFullTCAECM)
        export(ebCoexpressOneStep)
        export(ebCoexpressZeroStep)
        export(ebCoexpressMeta)
        export(rankMyGenes)